<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationMemoire"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Prestataires"
            android:exported="false" />
        <activity
            android:name=".DetailsProfilePresta"
            android:exported="false" />
        <activity
            android:name=".RechercheService"
            android:exported="false" />
        <activity
            android:name=".FaireDemandeService"
            android:exported="false" />
        <activity
            android:name=".PrestataireParService"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Connexion"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false"
            android:theme="@style/Theme.ApplicationMemoire" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>